*{
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(183, 179, 179);
}

ul{
    display: flex;
}

li{
    list-style-type: none;
    padding: 10px;
    margin: auto;
}

a{
    text-decoration: none;
    color: brown
}

h1{
    text-align: center;
    margin: 20px;
}

.about{
    display: flex;
    justify-content: space-around;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div p{
    width: 50%;
    text-align: justify;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button{
    display: block;
    margin: 15px auto;
    width: 20%;
    padding: 5px;
    background-color: crimson;
    color: antiquewhite;
    border: none;
    border-radius: 5px;
}